<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
<button data-ng-click="clearAll()">Clear</button>




<div data-ng-repeat="curTask in model.tasks|orderBy:'id':true" class="row-fluid">
<!--
	<input type="text" data-ng-model="curTask.taskDate">
	<input type="text" data-ng-model="curTask.taskName" list="taskNames">
	<input type="text" data-ng-model="curTask.startTime">
	<input type="text" data-ng-model="curTask.endTime">
-->
	<div class="span2">	<span type="text"> {{curTask.taskDate}} </span> </div>
	<div class="span2"> <span type="text"> {{curTask.taskName}} </span> </div>
	<div class="span2"> <span type="text"> {{curTask.startTime}} </span> </div>
	<div class="span2"><span type="text"> {{curTask.endTime}} </span> </div>
	<div class="span2"><span type="text"> {{curTask.duration}} </span> </div>
	

</div>

<div class="row-fluid" >
	<input type="text" data-ng-model="model.curTask.taskDate">
	<input type="text" data-ng-model="model.curTask.taskName" list="taskNames">
	<input type="text" data-ng-model="model.curTask.startTime">
	<input type="text" data-ng-model="model.curTask.endTime">
	<input type="hidden" data-ng-model="model.curTask.id">
	<button data-ng-click="addItem(model.curTask)">Next</button>
</div>

<datalist id="taskNames">
	<option data-ng-repeat="task in model.taskNames" value="{{task}}">{{task}}</option>

</datalist>


